%p#notice= notice

%p
  %b Wordle:
  = @round.wordle
%p
  %b Users:
  %ul
    - @round.users.each do |user|
      %li= user

= link_to 'Edit', edit_round_path(@round)
\|
= link_to 'Back', rounds_path
