%h1 Listing users

%table
  %thead
    %tr
      %th Name
      %th Email
      %th Admin
      %th
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.admin
        %td{ data: { controller: 'copy-text', 'copy-text-contents-value' => login_users_url(user_id: user.id, login_key: user.login_key) } }
          - if user.login_key.present?
            %a.btn.btn-primary.btn-sm{ data: { action: 'click->copy-text#copy' } }
              Copy login URL
        %td
          = mail_to user.email, 'email instructions', subject: "Wordle golf scorecard instructions",
            body: render('users/mailto', user: user)

        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path
